@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-green: #00ffaa;
  --color-text: #555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 10px 16px;
}

nav ul > li {
  padding: 4px 8px;
  border-radius: 6px;
}

nav ul > li:hover {
  background-color: rgba(128, 128, 128, 0.3);
}


/* parallax css */
input[type=checkbox] {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
}

input[type=checkbox] + label:before {
  background: var(--color-text);
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 1px;
  width: 16px;
}

input[type=checkbox]:checked + label:before {
  background: var(--color-green);
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
  position: relative;
}

.container--offset {
  margin-left: 0;
}

button {
  background: var(--color-text);
  border: 10px solid var(--color-green);
  cursor: pointer;
  display: block;
  font-family: monospace;
  font-size: 24px;
  height: 80px;
  line-height: 60px;
  margin: 0;
  outline: none;
  padding: 0 1.2em;
  text-align: right;
}

button:hover {
  background: var(--color-green);
}

.scene {
  margin: 0;
  padding: 0;
}
.scene > button {
  left: 10%;
  top: 260px;
  width: 80%;
  position: absolute;
}

.fill {
  bottom: 5%;
  left: 5%;
  position: absolute;
  right: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed var(--color-green);
}

.aspect {
  opacity: 0.2;
}

#deleteme {
  margin: 2rem;
}
.scene > *:nth-child(1) {
  opacity: 0.15;
}
.scene > *:nth-child(2) {
  opacity: 0.3;
}
.scene > *:nth-child(3) {
  opacity: 0.45;
}
.scene > *:nth-child(4) {
  opacity: 0.6;
}
.scene > *:nth-child(5) {
  opacity: 0.75;
}
.scene > *:nth-child(6) {
  opacity: 0.9;
}
.scene > *:nth-child(1) > button {
  transform: rotate(150deg);
}
.scene > *:nth-child(2) > button {
  transform: rotate(120deg);
}
.scene > *:nth-child(3) > button {
  transform: rotate(90deg);
}
.scene > *:nth-child(4) > button {
  transform: rotate(60deg);
}
.scene > *:nth-child(5) > button {
  transform: rotate(30deg);
}
.scene > *:nth-child(6) > button {
  transform: rotate(0deg);
}
